#import os
#import litter
#import litter.mod as lm
#import pymel.core as pm
#
#def load():
#    __load_mod__(True)
#
#def unload():
#    __load_mod__(False)
#
#def __load_mod__(load=True):
#    d=os.path.dirname(
#            os.path.dirname(
#            os.path.dirname(os.path.realpath(__file__))))
#
#    m = lm.LitterModule( 
#            module_dir=d, 
#            menu_annotation='<%= settings[:product_description]%>')
#            
#    if load:
#        m.load()
#    else:
#        m.unload()
#
## def setup_ui(moduleName):
##     moduleMenu = pm.mel.eval('module.menuName "'+ moduleName +'";')
## 
##     pm.setParent(moduleMenu, menu=True )
## 
##     pm.menuItem(
##             label='Render Dispatcher', command = 'render_dispatcher.setup()')
#