<% produp = settings[:product_name].upcase%>
# append <%= produp %>_PROJECT_PATH/bin paths to PATH
setenv PATH ${<%= produp %>_PROJECT_PATH}/bin:${PATH}


# append <%= produp %>_PROJECT_PATH maya module path
if $?MAYA_MODULE_PATH then
   	setenv MAYA_MODULE_PATH ${<%= produp %>_PROJECT_PATH}/maya:${MAYA_MODULE_PATH}
else 
   	setenv MAYA_MODULE_PATH ${<%= produp %>_PROJECT_PATH}/maya
endif


# append <%= produp %>_PROJECT_PATH python path
if $?PYTHONPATH then
   	setenv PYTHONPATH ${<%= produp %>_PROJECT_PATH}/site-packages:${PYTHONPATH}
else 
   	setenv PYTHONPATH ${<%= produp %>_PROJECT_PATH}/site-packages
endif
