<% produp = settings[:product_name].upcase%>
# append <%= produp %>_PROJECT_PATH bin paths to PATH
# export PATH=${<%= produp %>_PROJECT_PATH}/bin:${PATH}

# append <%= produp %>_PROJECT_PATH maya module path
if [[ -n $MAYA_MODULE_PATH ]] ;
   	then export MAYA_MODULE_PATH=${<%= produp %>_PROJECT_PATH}/maya:${MAYA_MODULE_PATH} ;
   	else export MAYA_MODULE_PATH=${<%= produp %>_PROJECT_PATH}/maya ;
fi


# append <%= produp %>_PROJECT_PATH python path
if [[ -n $PYTHONPATH ]] ;
   	then export PYTHONPATH=${<%= produp %>_PROJECT_PATH}/site-packages/3.6:${PYTHONPATH} ;
   	else export PYTHONPATH=${<%= produp %>_PROJECT_PATH}/site-packages/3.6 ;
fi
